<div class="card-header">
  <!-- <span class="state1" *ngIf="state.ALIVRER === commande.state">A livrer</span>
  <span class="state2" *ngIf="state.ENCOURS === commande.state">En cours de livraison</span>
  <span class="state3" *ngIf="state.LIVREE === commande.state">Livraison OK</span> -->
  <span [appState] = "commande.state"></span>
  <!-- <span ng-repeat="commandeState(commande.state)"></span> -->
</div>
<div class="card-body">
  <h4 class="card-title">{{commande.name}}</h4>
  <p class="card-text">Réf: {{commande.reference}}</p>

  <div *ngIf="state.LIVREE != commande.state">
    <button class="btn btn-primary" *ngIf="state.ENCOURS != commande.state" (click)="changeState(commande, state.ENCOURS)">En cours</button>
    <button class="btn btn-primary" (click)="changeState(commande, state.ENCOURS)">Livrée</button>
  </div>
</div>
