/* You can add global styles to this file, and also import other style files */
.card {
  margin-top: 1rem;
}

.state0{
  color: red;
}

.state1{
  color: rgb(0, 17, 255);
}

.state2{
  color: rgb(0, 255, 34);
}
